<div ng-controller="sampleAppCtrl">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class='container'>
        <a class="navbar-brand" href="#">MyApp</a>
        <ul class="nav navbar-nav">
            <li><a href="#/link1"> Link 1</a></li>
        </ul>
    </div>
    </nav>

    <div class="container">
        <div class="jumbotron">
            <h4> Skipper, shouldn't we tell them that page is "not found"? </h4>
            <div class="well">
                <img src="static/media/404.jpg" class="img-responsive img-thumbnail">
                <h4> Nah! Just smile and wave, boys. Smile and wave. </h4>
            </div>
        </div>
    </div>
</div>
